/*
 * Skin: Blue
 * ----------
 */
@import "../../bootstrap/mixins.less";
@import "../../bootstrap/variables.less";
@import "../variables.less";
@import "../mixins.less";

.skin-blue {
  //Navbar
  .main-header {
    .navbar {
      .navbar-variant(@light-blue; #fff);
      .sidebar-toggle {
        color: #fff;
        &:hover {
          background-color: darken(@light-blue, 5%);
        }
      }
      @media (max-width: @screen-header-collapse) {
        .dropdown-menu {
          li {
            &.divider {
              background-color: rgba(255, 255, 255, 0.1);
            }
            a {
              color: #fff;
              &:hover {
                background: darken(@light-blue, 5%);
              }
            }
          }
        }
      }
    }
    //Logo
    .logo {
      .logo-variant(darken(@light-blue, 5%));
    }

    li.user-header {
      background-color: @light-blue;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
  }

  //Create the sidebar skin
  .skin-dark-sidebar(@light-blue);
}

.skin-blue.layout-top-nav .main-header > .logo {
  .logo-variant(@light-blue);
}

@media (max-width: @screen-sm-max) {
  .table-responsive {
    border: none;
    margin-left: 5px;
    width: 96%;
  }
}

.table-responsive .selected {
  background-color: #d2d6de;
}

.r-disable {
  opacity: 0.6;
  pointer-events: none;
}

.user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/*PACE*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  .pace-progress {
    background: white;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
}

.pace-inactive {
  display: none;
}

/*TinyMCE*/
.mce-panel {
  background: #fff !important;
  border: 0 !important;
}

.mce-panel.mce-foot {
  border: 0 solid rgba(0, 0, 0, .2) !important;
}

.mce-panel.mce-menu {
  border: 1px solid #cbcbcb !important;
}

.mce-toolbar .mce-btn {
  background: #fff !important;
  border: 0 !important;
}

.mce-toolbar .mce-btn i {
  color: #555 !important;
}

.mce-toolbar .mce-btn:hover i {
  color: #333 !important;
}

.mce-primary {
  background: #6ba72b !important;
}

.mce-primary:hover {
  background: #68a029 !important;
}

.mce-btn-group:not(:first-child) {
  border-left: 3px solid #fff !important;
}

.mce-menu-item:hover {
  background: #eee !important;
}

.mce-menu-item.mce-disabled * {
  color: #ddd !important;
}

.mce-edit-area {
  border-top: 1px solid #d2d6de !important;
  border-bottom: 1px solid #d2d6de !important;
}

.mce-tinymce {
  border: 1px solid #d2d6de !important;
}

.no-help-block .help-block {
  display: none;
}

.space-right {
  margin-right: 5px;
}

.space-left {
  margin-left: 5px;
}

.categories .label {
  font-size: 14px;
}

.projects img {
  max-width: 100%;
}